<% include partials/scripts %>
<% include partials/navbar %>

<br>
<br>
<br>

<center><h1 class="cv-title">GREGORY PASCAL F. FERNANDES</h1></center>
<center><h3 class="cv-title">Australia Permanent Resident</h3></center>
<p class="cv-p">Phone: +61 (0)4 1421 1559</p>
<p class="cv-p">Email: <a>reachgregpff@gmail.com</a>
<p class="cv-p">Address: Melbourne, VIC</p>
<p class="cv-p">LinkedIn: http://au.linkedin.com/in/fernandesgregory</p></a>
<p class="cv-p">Portfolio: https://github.com/reachgregpff</p>
<br>

<center><h2>SOFTWARE DEVELOPER – Java&JEE / Web Development</h2></center>
<p  class="cv-title" >Programmer/Developer and Lead with over 8+ years of relevant experience in developing and leading JAVA applications and Java / JEE backend applications. I began my career as a C/C++, Java Software Developer with Wipro Limited - a Big Four IT Services company of $8Bn headquartered in India that has clients in over 50 countries. This included 2 years of software development in USA at the client site. I also have experience in project lead activities and writing proposals in pre-sales. One of my greatest assets is my analytical skills which I attribute to solving puzzles and my creativity towards contributing to ideas.</p>

<p   class="cv-title" >I am also able to build responsive web applications using the latest technologies including JavaScript, JQuery, Backbone.js, Node.js, Express, HTML5, CSS3, PostgreSQL and Ruby on Rails & MongoDB. My passion and interest in Web Development led me to enroll in the 3 month intensive Web Development Immersive (WDI) training program at General Assembly (GA), Melbourne. Being passionate about Web Development, I am driven to take a career path that will enhance my expertise in web development or as a full stack developer. I am excited to tackle complex problems and contribute to a passionate team, whilst building on my experience and learning best practices. I am open to any suitable position in Web Development including beginner and mid-level roles that will help me take my passion further.</p>

<li>Experience in Agile (Scrum, sprints, iterations, standups, storyboards) environments, Six Sigma and LEAN methodologies and expert in waterfall software development methodologies</li>
<li>Strong experience in Continuous Integration, SCM, Build and IDE tools</li>
<li>In depth knowledge of OOP, OO design principles, Design Patterns and n-tier architectures.</li>
<li>Overseas experience in working with global, multicultural team and collaborative environment. Over 2 years onsite experience with teams in North Carolina, USA and Texas, USA at onsite locations for client Nortel Networks involving end to end software development in Java</li>
<li>All phases -Requirements, Design, Coding, Testing, Go-Live, Post Go-Live Support
Strong Experience in writing Unit Tests, System Testing and Integration Testing, support during UAT Testing and post Go-Live testing and support</li>
<li>Domains like Information Management Printer firmware and Telecom applications for VOIP and Wireless 
IT Projects (JAVA / JEE) – Technical Lead:  Experienced project lead activities leading all phases of diverse technology projects; Technically assisting the team in tracking schedules and project plans</li>
<li>Presales – Bid Consultant; Experienced bid consultation for small and large bids in IT while working on software development projects </li>

</p>

<center><h3>Skills Summary</h3></center>

<li>Web Development- JavaScript, JQuery, AJAX, Backbone.js, Node.js, Express, gulp, HTML5, CSS3, Sass, and Ruby on Rails, Sinatra with PostGreSQL & MongoDB, GitHub, Sublime</li>
<li>Java Enterprise Edition (JEE) – Servlets and JSPs for web programming, Enterprise Java Beans (EJB), JDBC, JMS, JTA, JPA, WebServices, Eclipse</li>
<li>Java  (core Java), CVS, CSS and Eclipse</li>
<li>C, C++</li>
<li>Red Had Enterprise Linux (RHEL), UNIX</li>
<li>GitHub, Ant, Makefile, CVS, WinCVS, VSS, vi, Eclipse, JProfiler, JUnit</li>

<p>

<center><h3>Career Progression at Wipro Ltd.</h3></center>
 
<li>Dun & Bradstreet (USA), Sr. IT Software Developer / Project Lead / Pre-Sales Consultant– May 2008 to Mar 2015 – Large project development in Java, JEE for the client including several in-house IT Projects, bid <li>consulting (won several new client projects in USA, Australia and UK)</li>
<li>Hewlett Packard (Shanghai, China): Lead & Developer for C/C++ product development– Jan 07 to Nov 07</li>
<li>Nortel Networks (USA), Sr. IT SOFTWARE DEVELOPER – Java Developer – Jan 2003 to October 2006</li>
<li>Nortel Networks (USA), IT SOFTWARE DEVELOPER – C++ Developer - Jan 1997 to Mar 2002</li>


<center><h3>Achievement Highlights</h3></center>

<li>‘Feather in my Cap’ award from Wipro for a job well done as Tech Lead, onsite at Nortel Networks, USA</li>
<li>Two “Certificate of Achievement” Awards in Wipro for Six Sigma Green Belt projects </li> 
<li>More than 4 “Thanks a Zillion’ Awards in Wipro as a Programmer Developer for going beyond job objectives in teamwork and quality</li>
<li> “Special Achievement Award” for bids & writing proposals involving solution and costing of IT Projects</li> 
<li> “Thanks a Zillion Award” from Quality Head for quality compliance to Bid Management Processes</li>

<center><h3>PROFESSIONAL EXPERIENCE – Representative Projects</h3></center>

<h2   class="cv-title" >Sep 2015 – Dec 2015 Full-time Course: Web Development Immersive training at General Assembly, Melbourne</h2>

<li>Learnt full-stack web development: JavaScript, HTML5, CSS3, Node.js, Backbone, AJAX, Ruby on Rails, Sinatra and Postgres SQL</li>
<li>Developed back-end applications and API using modern programming back-end MVC web development frameworks such as Rails,Node.js with dynamic front-ends using modern frameworks such as backbone</li>
<li>Developed applications that consumed web API from third sites like Twitter, Google Maps</li>
<li>Collaborated with a team using agile development workflow and widely accepted practices using GitHub.</li>

<h4>Portfolio at General Assembly</h4>

<p class="cv-p" style="font-weight:bold">Final Project – Online Treasure Hunt </p>
<p class="cv-p" >Heroku: https://bigtreasurehunt.herokuapp.com</p>
<p class="cv-p">Git:       https://github.com/reachgregpff/bigtreasurehunt</p>
<p class="cv-p">Project Description: This app is an online treasure hunt that you can play from the comfort of your seat while journeying the world via maps. This application has been built with the stack - mongoDB, express and Node.js, with HTML5, CSS3, JQuery and Javascript. And of course - Google Maps API. For this project I also learnt mongoDB on my own and I was able to resolve numerous issues to connect to MongoDB and also get it hosted on Heroku.</p> 

<p class="cv-p" style="font-weight:bold">Group Project 2 – WDI4 Conference</p>
<p class="cv-p" >Heroku: https://myconf-wdi4.herokuapp.com</p>
<p class="cv-p" >Git:       https://github.com/reachgregpff/wdi4conf </p>
<p class="cv-p" >Project Description: This app is an online conference for the conference week for the class of WDI4 (Web Development Immersive-4). This application has been built with the stack Ruby on Rails, HTML5, CSS3, JS, JQuery Active Record, PostgreSQL, along with API for Twitter, JQuery for QR Codes, and GitHub. This was a group project and I developed the solution for the graphical seating solution and ticketing. </p>

<p class="cv-p" style="font-weight:bold">Group Project 1 – Happy Hour</p>
<p class="cv-p" >Heroku: https://happyhour-wdi4.herokuapp.com </p>
<p class="cv-p" >Git:       https://github.com/reachgregppff/happyhour </p>
<p class="cv-p" >Project Description: This app is an online app to find happy hour bars nearest to your current location, it also provides cocktail recipes if you want to create your own happy hour at home. This application has been built with the stack Ruby on Rails, HTML5, CSS3, JS, JQuery Active Record, PostgreSQL, along with API for food recipes from Yummly.com and Google Map APIs, and GitHub. This was a group project and I developed the part of fetching cocktail recipes from Yummly. </p>

<p class="cv-p" style="font-weight:bold">Group Project 1 – Do-it-yourself MysteryBox</p>
<p class="cv-p" >Heroku: https://diy-mysterybox.herokuapp.com </p>
<p class="cv-p" >Git:       https://github.com/reachgregpff/mysterybox-app </p>
<p class="cv-p" >Project Description: This online app lets the user take the MasterChef challenge from the convenience of his/her home, and it guides the user to find recipes based on a few select ingredients randomly generated by the app. This application has been built with the stack Ruby, Sinatra, HTML5, CSS3, JS, JQuery Active Record, PostgreSQL, along with API for food recipes from Food2Fork. </p>


<h2   class="cv-title" >Jul 2008 – Mar 2015 - Software Developer and Project Lead (JAVA/JEE), Client: Dun & Bradstreet, USA</h2>

<p class="cv-p" style="font-weight:bold">Company: Wipro Ltd is a Big-Four IT Services company in India </p>
<p class="cv-p" style="font-weight:bold">Client: Dun & Bradstreet is a leading business information services company headquartered in USA </p>  
Project Description: Several major releases of a robust online commercial information services product that integrates a company’s business customer information from diverse systems and involved Customer Relation Management (CRM), Customer Data Integration (CDI), Data Cleansing, Data Quality projects implemented in JEE: JSP, Servlets, Enterprise Java Beans (EJB), JPA, JTA, JMS, JDBC, Web Services, Junit, JBOSS, Tomcat on RHEL Linux, Oracle SQL in a distributed system architecture

<p class="cv-p" style="font-weight:bold">Position Summary</p>
Interaction with BAs to gather & analyze business requirements to estimate, design technical solutions 
Contributed to Implementation, Unit testing, Automation testing and Integration testing
Implemented Agile principles during critical phases in a hybrid overall waterfall model
Assisted the Web team in implementing GUIs using Applets, Swing, JavaScript, CSS and HTML
Suggested LEAN tenets such as Visual Controls, Orthogonal Array to manage testing phases
Several in-house projects, Proof of Concepts in Java and JEE for the practice CoE (Center of Excellence)
Involved in lead activities like managing schedules and project plan reports
Also helped in proposals and estimations for small and large IT bid projects/proposals in Java, Infrastructure and ERP, includes Pricing and Commercials – RFP, RFI and RFQs.
Achievement – a CSAT(Customer Satisfaction) of 6.1 out of 7 resulting in increased business



<h2   class="cv-title" >Jan 2007 – Nov 2007 - Software Developer, Client: Hewlett Packard, USA</h2>

<p class="cv-p" style="font-weight:bold">Company: Wipro Ltd </p>
<p class="cv-p" style="font-weight:bold">Client: Hewlett Packard’s  Printer Division is a leading manufacturer of laser jet printers</p>
Project Description: Product development of printer firmware of HP’s 2 new models of laser jet printers

<p class="cv-p" style="font-weight:bold">Position Summary</p>
Product development and design of key modules of printer firmware from planning to deployment
Project Lead activities to manage the schedule, project plan, quality control and team training activities


<h2   class="cv-title" >Jan 1997 – Oct 2006 - Senior Software Developer(Java), Client: Nortel Networks, USA</h2>

<p class="cv-p" style="font-weight:bold">Company: Wipro Ltd</p> 
<p class="cv-p" style="font-weight:bold">Client: Nortel Networks is a leading telecommunications and data networking equipment manufacturer</p>   
Project Description: Development, maintenance of a suite of Traffic Generator applications in core JAVA with MySQL and on Windows and LINUX that tested core software, protocol injection, high load performance of Nortel Network’s Telecom switches/products in the Wireless (GSM, GPRS, 3G) space.  

<p class="cv-p" style="font-weight:bold">Position Summary</p>

Gather requirements and analyze business requirements to estimate and design technical solutions
Includes 2 years of end-to-end software development working with the client at Nortel Networks in USA 
Implementation with Java, including Unit testing and Integration testing
Coding, Unit Testing, Integration Testing, Deployment and Post Go-Live support
Implementing GUIs using Applets, Swing for Java clients and applications
Achievement – client commendations, provided ideas, use of Six Sigma sped up processes 


<h2   class="cv-title" >Jan 1997 – Jul 2002 - Software Developer / Jr. Developer (C/C++), Client: Nortel Networks, USA</h2>

<p class="cv-p" style="font-weight:bold">Company: Wipro Ltd </p>
<p class="cv-p" style="font-weight:bold">Client: Nortel Networks is a leading telecommunications and data networking equipment manufacturer   </p> 
Project Description: Development, maintenance of a suite of applications (called the CATT platform) consisting of  Traffic Generator Applications that tested core software, protocol injection, high load performance of Nortel Network’s TDM, VOIP Telecom switches. Applications were developed in C and C++ on Windows and LINUX.

<p class="cv-p" style="font-weight:bold">Position Summary</p>
Gathered requirements and analysed business requirements to estimate and design technical solutions
Coding, Unit Testing, Integration Testing, Deployment and Post Go-Live support
Implementation in C++, including Unit testing and Integration testing. 



<center><h3>Education & Credentials</h3></center>

Bachelor of Engineering (Computer Science and Engineering) 1992 to 1996, Visvesvaraya Technological (Karnataka) University - VTU, India – First Class with distinction with an aggregate of 73%. Scored 78% in the final year.

IELTS (English speaking test), 2014 – Overall 8 out of 9



<center><h3>Domain Knowledge</h3></center>
<li>Telecom                 : Development of in-house platforms to automate/traffic testing of VOIP, Wireless, 3G </li>
<li>Information Management   : Customer Data Integration, Master Data Management, CRM</li>
<li>Business Services Industry   : Staffing, Facilities Mangement, Professional and Business Services</li>


<center><h3>Other Interests</h3></center>
I enjoy sketching and painting, and playing the electric guitar. I have 10,500 followers in 3 months on my Facebook art page.


<center><h3>References</h3></center>
<p class="cv-p" style="font-weight:bold">1. Daniel Tsui, Technical Instructor</p>
<p class="cv-p">General Assembly,</p>
<p class="cv-p">Phone: +61 0431 663 223</p>
<br>
<p class="cv-p" style="font-weight:bold">2. Krishna Jagannath, General manager and Head</p>
<p class="cv-p">Company: Wipro Limited</p>
<p class="cv-p">Phone: +91 -98450 50185</p>
<br>
<p class="cv-p" style="font-weight:bold">3. Manish Poddar, Software Developer</p>
<p class="cv-p">Company: Wipro Limited (ex-employee)</p>
<p class="cv-p">Phone: +91-99724 30379</p>


</p>


<% include partials/footer %>
