<!DOCTYPE html>
<html>
  <head>

    <% include partials/header %>

  </head>
  <body>

    <% include partials/scripts %>
    <% include partials/navbar %>

    <br><br>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img id="first-slide" src="/images/fly-high-eagle2.jpg" alt="Greg Fernandes">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hi, I am Gregory Fernandes</h1>
              <h3>Full stack developer</h3>
              <p>experienced back-end developer | passionate front-end developer</p>
              <p><a class="btn btn-lg btn-primary" href="/portfolio" role="button">check out my work</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->




    <!-- About me -->

    <a name="about"></a>

    <div id="about-div">
    <br>

    <div class="container howto" id="game-div">

         <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About me <span class="text-muted">...</span></h2>
          <p class="lead">With a Bachelor of Engineering in Computer Science & Engineering and with over 8 years of relevant IT/software development experience in JAVA as a Software developer/Lead with Wipro Limited, a Big4 IT services company in India and with USA clients such as Nortel Networks, HP and Dun & Bradstreet. My passion and interest  led me to enrol and complete the 4-month intensive Web Development Immersive full-time trianing at General Assembly (GA), Melbourne, Australia. I have started my journey as a full-stack developer.</p>
          <br>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" id="me" src="/images/Gregory Fernandes.jpg" alt="mongoDB, express and node">
        </div>
      </div>

    <hr class="featurette-divider">


    <div>
      <!-- Three columns of text below the carousel -->
      <div  id="brief" class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/backend.png" width="140" height="140">
          <h2>Experienced Back-end Development</h2>
          <p>More than 8 years experience in backend technologies such as Java, JEE, MS SQL. Well versed with Ruby on Rails, PostgreSQL. MongoDB newbie.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/Web-Design-Development-Icon.png" width="140" height="140">
          <h2>Front-end Web Development</h2>
          <p>Well versed with JavaScript, JQuery, Backbone.js, Node.js, Express, HTML5, CSS3.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/agile.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Agile and Life Cycle Models</h2>
          <p>Hands-on projects in Agile methodologies, the Waterfall Model, LEAN and Six Sigma.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    <div>


      <hr class="featurette-divider">


      <div id="skills-div">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Background in BackEnd development and an affinity for FrontEndTechnology <span class="text-muted"> ...  </span></h2>
          <p class="lead">Due to my training at GA, I am also able to build responsive web applications using the latest technologies including JavaScript, JQuery, Backbone.js, Node.js, Express, HTML5, CSS3, PostgreSQL, Ruby on Rails (and also MongoDB that I have picked up on my own). 

          Being passionate about Web Development, I am driven to take a career path that will enhance my expertise in Web Development or as a full stack developer. I am excited to tackle complex problems and contribute in teams, whilst building on my experience and best practices I have learned.</p>
        </div>
        <center><div class="row">
            <img class="skill-pic" src="/images/skills/java.png" alt="">
            <img class="skill-pic" src="/images/skills/sql.png" alt="">
            <img class="skill-pic" src="/images/skills/rubyonrails.jpeg" alt="">
            <img class="skill-pic" src="/images/skills/javascript.jpeg" alt="">
            <img class="skill-pic" src="/images/skills/nodejs.png" alt="">
            <img class="skill-pic" src="/images/skills/express.jpeg" alt="">
            <img class="skill-pic" src="/images/skills/postgreSQL.jpeg" alt="">
            <img class="skill-pic" src="/images/skills/mongodb.jpeg" alt="">
            <img class="skill-pic" src="/images/skills/github.jpeg" alt="">
          </div></center>
        </div>
      </div>

      <hr class="featurette-divider" >

      </div>

    <a name="contact"></a>

    <div id="contact-div">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Contact me at <span class="text-muted"> ...  </span></h2>
          <p class="contact">phone: +61 (04) 1421 1559/p>
          <p class="contact">email: reachgregpff@gmail.com</p>
          <p class="contact">address: Melbourne, VIC, Australia</p>

        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/images/contact1.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" >

    </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <% include partials/footer %>

    </div><!-- /.container -->


  </body>
</html>
