
    <% include partials/header %>
    <% include partials/scripts %>
    <% include partials/navbar %>

    <br><br>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img id="first-slide" src="/images/portfolio/portfolio-header.jpg" alt="Greg Fernandes">
          <div class="container">
            <div class="carousel-caption">
              <h1>What I do</h1>
              <h3>Full stack developer</h3>
              <p>front-end projects at GA | back-end projects for clients</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <center><h1 class="which-project">Front-end Projects</h1></center>

    <div id="portfolio-div">
    <br>

    <div class="container howto" id="game-div">

         <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Final Individual Project - Online Treasure Hunt<span class="text-muted">...</span></h2>
          <p class="lead">This app is an online treasure hunt that you can play from the comfort of your seat while journeying the world via maps. This application has been built with the stack - mongoDB, express and Node.js, with HTML5, CSS3, JQuery and Javascript. And of course - Google Maps API. For this project I also learnt mongoDB on my own and I was able to resolve numerous issues while incorporating MongoDB and also while getting it hosted on Heroku.</p>
          <br>
        </div>
        <div class="col-md-5">
          <a href="https://bigtreasurehunt.herokuapp.com" ><img class="featurette-image img-responsive center-block" src="/images/portfolio/OnlineTreasureHunt.png" alt="mongoDB, express and node"></a>
        </div>
      </div>
      <a href=""><h5>https://bigtreasurehunt.herokuapp.com</h5></a>
      <a href=""><h5>https://github.com/reachgregpff/bigtreasurehunt</h5></a>
      <div class="row">
        <button type="button" class="btn btn-warning" disabled>Node.js</button>
        <button type="button" class="btn btn-warning" disabled>Express</button>
        <button type="button" class="btn btn-warning" disabled>Javascript</button>
        <button type="button" class="btn btn-warning" disabled>mongoDB</button>
        <button type="button" class="btn btn-warning" disabled>HTML5</button>
        <button type="button" class="btn btn-warning" disabled>CSS3</button>
        <button type="button" class="btn btn-warning" disabled>Bootstrap</button>
        <button type="button" class="btn btn-warning" disabled>Google Map API</button>
        <button type="button" class="btn btn-warning" disabled>JQuery</button>
      </div>

    <hr class="featurette-divider">

<div class="container howto" id="game-div">

         <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Group Project 2 - WDI4 Conference Site<span class="text-muted">...</span></h2>
          <p class="lead">This app is an online site for the conference week for the class of WDI4 (Web Development Immersive-4) at GA. This application has been built with the stack Ruby on Rails, HTML5, CSS3, JS, JQuery Active Record, PostgreSQL, along with API for Twitter, JQuery for QR Codes, and GitHub. This was a group project and I developed the solution for the graphical seating solution, game of seats and ticketing.</p>
          <br>
        </div>
        <div class="col-md-5">
          <a href="https://myconf-wdi4.herokuapp.com" ><img class="featurette-image img-responsive center-block" src="/images/portfolio/WDI4Conf.png" alt=""></a>
        </div>
      </div>
      <a href=""><h5>https://myconf-wdi4.herokuapp.com</h5></a>
      <a href=""><h5>https://github.com/reachgregpff/wdi4conf</h5></a>
      <div class="row">
        <button type="button" class="btn btn-warning" disabled>Ruby on Rails</button>
        <button type="button" class="btn btn-warning" disabled>Ruby Gems</button>
        <button type="button" class="btn btn-warning" disabled>Javascript</button>
        <button type="button" class="btn btn-warning" disabled>PostgreSQL</button>
        <button type="button" class="btn btn-warning" disabled>HTML5</button>
        <button type="button" class="btn btn-warning" disabled>CSS3</button>
        <button type="button" class="btn btn-warning" disabled>Bootstrap</button>
        <button type="button" class="btn btn-warning" disabled>JQuery</button>
        <button type="button" class="btn btn-warning" disabled>AJAX</button>
        <button type="button" class="btn btn-warning" disabled>Stripe</button>
      </div>

    <hr class="featurette-divider">

<div class="container howto" id="game-div">

         <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Group Project 1 - Happy Hour App<span class="text-muted">...</span></h2>
          <p class="lead">This app is an online app to find happy hour bars nearest to your current location, it also provides cocktail recipes if you want to create your own happy hour at home. This application has been built with the stack Ruby on Rails, HTML5, CSS3, JS, JQuery Active Record, PostgreSQL, along with API for food recipes from Yummly.com and Google Map APIs, and GitHub. This was a group project and I developed the part of fetching cocktail recipes from Yummly.</p>
          <br>
        </div>
        <div class="col-md-5">
          <a href="https://happyhour-wdi4.herokuapp.com" ><img class="featurette-image img-responsive center-block" src="/images/portfolio/HappyHourApp.png" alt="mongoDB, express and node"></a>
        </div>
      </div>
      <a href=""><h5>https://happyhour-wdi4.herokuapp.com</h5></a>
      <a href=""><h5>https://github.com/reachgregppff/happyhour</h5></a>
      <div class="row">
        <button type="button" class="btn btn-warning" disabled>Ruby on Rails</button>
        <button type="button" class="btn btn-warning" disabled>Ruby Gems</button>
        <button type="button" class="btn btn-warning" disabled>Javascript</button>
        <button type="button" class="btn btn-warning" disabled>PostgreSQL</button>
        <button type="button" class="btn btn-warning" disabled>HTML5</button>
        <button type="button" class="btn btn-warning" disabled>CSS3</button>
        <button type="button" class="btn btn-warning" disabled>Bootstrap</button>
        <button type="button" class="btn btn-warning" disabled>JQuery</button>
        <button type="button" class="btn btn-warning" disabled>AJAX</button>
        <button type="button" class="btn btn-warning" disabled>Google Maps API</button>
        <button type="button" class="btn btn-warning" disabled>Yummly Food API</button>
      </div>

    <hr class="featurette-divider">

<div class="container howto" id="game-div">

         <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Individual Project - DIY - MasterChef MysteryBox<span class="text-muted">...</span></h2>
          <p class="lead">This online app lets the user take the MasterChef challenge from the convenience of his/her home, and it guides the user to find recipes based on a few select ingredients randomly generated by the app. This application has been built with the stack Ruby, Sinatra, HTML5, CSS3, JS, JQuery Active Record, PostgreSQL, along with API for food recipes from Food2Fork.</p>
          <br>
        </div>
        <div class="col-md-5">
          <a href="https://diy-mysterybox.herokuapp.com" ><img class="featurette-image img-responsive center-block" src="/images/portfolio/DIY-MysteryBox.png" alt="mongoDB, express and node"></a>
        </div>
      </div>
      <a href=""><h5>https://diy-mysterybox.herokuapp.com</h5></a>
      <a href=""><h5>https://github.com/reachgregpff/mysterybox-app</h5></a>
      <div class="row">
        <button type="button" class="btn btn-warning" disabled>Ruby</button>
        <button type="button" class="btn btn-warning" disabled>Sinatra</button>
        <button type="button" class="btn btn-warning" disabled>Javascript</button>
        <button type="button" class="btn btn-warning" disabled>PostgresSQL</button>
        <button type="button" class="btn btn-warning" disabled>HTML5</button>
        <button type="button" class="btn btn-warning" disabled>CSS3</button>
        <button type="button" class="btn btn-warning" disabled>Food2Fork API</button>
      </div>

    <hr class="featurette-divider">

<div class="container howto" id="game-div">


<center><h1 class="which-project">Back-end Projects</h1></center>

         <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">My Experience in Back-end Projects with USA Clients<span class="text-muted">...</span></h2>
          <p class="lead">I began my career as a C/C++, Java Software Developer with Wipro Limited - a Big Four IT Services company of $8Bn headquartered in India that has clients in over 50 countries. I developed software in Java for over 8 years and JEE for 5 years after that for clients in telecom and information management. This included 2 years of software development in USA at the client site. I also have experience in project lead activities and writing proposals in pre-sales.
          I have been a Programmer/Developer and Lead with over 12+ years of relevant experience in developing and leading C, C++/JAVA applications and Java / JEE backend applications. 
          My career with Wipro Limited included clients in USA such as Nortel Networks, Hewlett Packard, Dun & Bradstreet. </p>
          <br>
        </div>
      
      </div>

      
      <div class="row">
        <img src="/images/portfolio/nortelnetworks.png">
        <img src="/images/portfolio/hewlettpackard.jpeg">
        <img src="/images/portfolio/dnb.png">
      </div>

    <hr class="featurette-divider">



      <!-- FOOTER -->
      <% include partials/footer %>


