body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar, .navbar-inverse {

}

#first-slide{
}

#navbar-ul{
  padding-left:15%;
}

#me{
  width: 50%;
  border-radius: 100%;
  border: 2px solid lightblue;
}

#brief{
  background-color: rgba(0, 255, 255, 0.1);
}

.skill-pic{
  display: inline-block;
}

.contact{
  padding-left: 0;
  margin: 0;
}

.which-project{
  color:lightblue;
  padding: 0;
  margin: 0;
}